

ul, ol {
  list-style: none;
}

.m{
  width: 805px;
  height: 320px;
  margin:30px auto;
  overflow: hidden;
}
.tu{
  width: 160px;
  float: left;
  border-left:1px solid #fff;
  position:relative;
  transition: all 1s;
}
.flag{
  position:absolute;
  left:0;
  bottom:0;
  width: 100%;
  height:60px;
  line-height: 60px;
  text-align: center;
  color:#fff;
  background:rgba(0,0,0,0.5)
}
.m:hover li{
  width: 40px;
}
.m li:hover{
  width: 640px;
}
